@font-face {
    font-family: "YasevaOne";
    src: 
        local("YasevaOne"), 
        url("../fonts/YesevaOne.ttf") format("TrueType");
}

@font-face {
    font-family: "NunitoSans";
    src: 
        local("NunitoSans")    
        url("../fonts/NunitoSans.ttf") format("TrueType");
}